.card {
  border-radius: 8px;
  margin: 1rem;
  padding: 1.5rem;
  border: 1px solid #c8d8e4;
  display: flex;
  justify-content: center;
  align-items: center;

}
.card a img {
  height: 20rem;
  width: auto;
}

@media (max-width: 600px) {
  .card a img {
    height: 7rem;
    width: auto;
  }
  .card{
    margin: 0.2rem;
    padding: 0.2rem;
    padding-bottom: 0;
  }
}