.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.product-info img {
    margin: 1rem;
    box-shadow: rgba(100, 100, 111, 0.219) 0px 7px 29px 0px;
    border-radius: 8px;
}

.product-info-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.product-info-attr {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    max-width: 20rem;
}

.product-info-rating{
    border-bottom: 1px solid #b1b1b1;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.product-info-price{
    border-bottom: 1px solid #b1b1b1;
    padding:1.5rem 1rem;
}

.product-info-description{
    padding:1.5rem 1rem;
}

.product-info-attr h2{
    padding: 1rem;
    border-bottom: 1px solid #b1b1b1;
}

.product-info-stock{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    
}

.product-info-stock-price{
    padding: 1rem;
    border: 1px solid #b1b1b1;
    display: flex;
}

.product-info-stock-stock{
    display: flex;
    padding: 1rem;
    border: 1px solid #b1b1b1;
    border-top: none;
}

.product-info-stock-add{
    padding: 0.5rem;
    border: 1px solid #b1b1b1;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-info-stock-add button{
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 1rem;
    width: 100%;
}

.product-info-stock-add button:disabled{
    cursor: not-allowed;
    background-color: rgb(129, 129, 129);
}

.product-info a button {
    width: 6.5rem;
    height: 3rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}